body{
    background-color: #fdfdfd;
}

.left {
    width: 30%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF744D;
}
#logo{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 130px;
}

.loginbox{
    position: relative;
    top: 450px;
    text-align: center;
}
#input_box{
    width: 70%;
    height: 30px;
    border:3px solid #D05F3F;
    border-radius : 100px;
    padding-left: 10px;
}
.login_button{
    background:url(./image/login_button.png);
    border: none;
    cursor: pointer;
    width: 100px;
    height: 105px;

    font-size: 17px;
    font-weight: bold;
    font-family: JejuGothic;
    color: #592A1D;
}