body{
    background-color: #fdfdfd;
}
.top {
    text-align: right;
    width: 100%;
    height:10%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #D05F3F;
}
#logo{
    position: absolute;
    background-color: #FF744D;
    width: 7%;
    height: fit-content;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 3%;
    top: 0px;
}
#suggestion{ /* 급식건의 */
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    cursor: pointer;
    border: none;
}
#monthly{ /* 이달의 급식 */
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
}
#logout{ /* 로그아웃 */
    position: relative;
    top: 30%;
    font-size: 15px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1%;
}
#plus_sug{
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1%;
}
.down{
    position: relative;
    top: 150px;
    text-align: left;
}
#menuBox{
    max-width: 5%; 
    min-width: 3%; 
    height: 50%;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    font: bolder;
    font-size: 12px;
    color: #592A1D;
    background-color: #ffffff;
    padding:2%;
    margin-left: 10px;
    margin-right: 10px;

}
