body{
    background-color: #fdfdfd;
}
.top {
    text-align: right;
    width: 100%;
    height:10%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #D05F3F;
}
#logo{
    position: absolute;
    background-color: #FF744D;
    width: 7%;
    height: fit-content;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 3%;
    top: 0px;
}
#suggestion{ /* 급식건의 */
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    cursor: pointer;
    border: none;
    margin-right: 30px;
}
#monthly{ /* 이달의 급식 */
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    
}
#my{ /* 급식건의 */
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    cursor: pointer;
    border: none;
    margin-right: 30px;

}
#logout{ /* 로그아웃 */
    position: relative;
    top: 30%;
    font-size: 15px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1%;
}
#plus_sug{
    position: relative;
    top: 30%;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

/* 아래 */
.down{
    position: relative;
    top: 150px;
    /* border: 4px solid red; */
    text-align: center;
    padding-left: 20% ;
    padding-right: 20%;
}
.lists{
    /* border: 4px solid yellow; */
    text-align: center;
}
.lists thead th { 
    border-top: 3px solid #D05F3F; 
    border-bottom: 1px solid #e5e5e5; 
    padding: 10px 0; 
    /* text-align: center;  */
}
.lists thead a{
    text-align: center;
}
.lists thead td{
    text-align: center;
    padding: 5px;
}