body{
    background-color: #fdfdfd;
}

.left {
    width: 30%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF744D;
}
#logo{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 130px;
}

.loginbox{
    position: relative;
    top: 10%;
    text-align: center;
}
.input_box{
    width: 70%;
    height: 30px;
    border:3px solid #D05F3F;
    border-radius : 100px;
    padding-left: 10px;
}
#txt_warning{
    font-size: 12px;
    text-align:center;
    color: #ffffff;
}
#login_button{
    position: relative;
    background-color: #FF744D;
    border: none;
    cursor: pointer;
    top: 30px;
}
#signup_link{
    position: relative;
    text-align: center;
    top: 60px;
}