body{
    background-color: #fdfdfd;
}

.left {
    width: 30%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF744D;
}
#logo{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 130px;
}
.bigFont{
    position: relative;
    font-size:56px;
    font-weight: bold;
    color: #ffffff;
    width: 80%;
    left: 20%;
    top: 10%;
    text-shadow: 5px 6px 0px #D05F3F;
}
.smallFont{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 0px #D05F3F;
}

.loginbox{
    position: relative;
    top: 25%;
    text-align: center;
}
.input_box{
    width: 70%;
    height: 30px;
    border:3px solid #D05F3F;
    border-radius : 100px;
    padding-left: 10px;
}
#txt_warning{
    font-size: 12px;
    text-align:center;
    color: #ffffff;
}
#login_button{
    position: relative;
    background-color: #592A1D;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px #D05F3F ;
    top: 30px;
    width: 200px;
    height: 50px;  
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
#signup_link{
    position: relative;
    text-align: center;
    top: 70px;
}