body{
    background-color: #fdfdfd;
}

.left {
    width: 30%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FF744D;
}

#logo{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 130px;
}

.loginbox{
    position: relative;
    top: 10%;
    text-align: center;
}
.input_box{
    width: 70%;
    height: 30px;
    border:3px solid #D05F3F;
    border-radius : 100px;
    padding-left: 10px;
}
#txt_warning{
    font-size: 12px;
    text-align:center;
    color: #ffffff;
}
#login_button{
    position: relative;
    background-color: #FF744D;
    border: none;
    cursor: pointer;
    top: 30px;
}
#signup_link{
    position: relative;
    text-align: center;
    top: 60px;
}
.right {
    margin-top: 100px;
    width: 70%;
    top: 0px;
    left: 0px;
}
#otherBox{
    max-width: 17%; 
    min-width: 15%; 
    height: 50%;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    font: bolder;
    font-size: 18px;
    color: #592A1D;
    background-color: #ffffff;
    padding:4%;
    margin-left: 40px;
    margin-right: 40px;

}