<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>밥먹다</title>
    <link rel='stylesheet' href='./stylesheets/startStyle.css' type='text/css'/>
  </head>
  <body>
    <div class="left">
        <img src="/images/title.png" style="width: 30%; margin-top: 20%; margin-left: 20%; ">
          
        <!-- 로그인 폼 -->
          <form class="loginbox" action="/" method="post">
              <input type="text" placeholder="Email 입력" name="email" class="input_box" autocomplete="off" required><br>
              <br>
              <input type="password" placeholder="Password 입력" name="pwd" class="input_box" autocomplete="off" required><br>
              <br>                  
              <button type="submit" value="LOGIN" id="login_button">LOGIN</button> 
              <br>
              <div id="signup_link">
                <a href="/signup" style="font-size: 16px; font-weight: bolder; font-size: 14px;  color: #592A1D;">SIGN UP</a>
              </div>
          </form>
   </div>
  </body>
</html>
