<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./stylesheets/mainStyle.css"/>
        <title>밥먹다</title>
    </head>

    <body>
        <div class="up">
          <div class="top">
                <span><button id="suggestion">급식 건의</button></span>
                <span><button id="monthly">이달의 급식</button></span>
                <span><button id="logout">LOGOUT (<%= userEmail %>)</button></span> 
              <div id="logo"> 
                  <!-- <div class="bigFont">밥
                      <a class="smallFont">은</a>
                    </div>
                    <div class="bigFont">먹
                      <a class="smallFont">고</a>
                    </div>
                    <div class="bigFont">다
                      <a class="smallFont">니냐</a>
                    </div> -->
                    <img src="/images/title.png" style="width: 50%; margin-left: 25%;">
                  </div>
          </div>
        </div>
        <div class="down">
          <span style="font-size: 24px; color: #592A1D; font-weight: bold; ">전체 건의</span><br><br>
          <table class="lists">
              <colgroup>
              <col width="80%">
              <col width="10%">
              <col width="10%">
            </colgroup>
              <thead>
                <tr>
                  <th scope="col">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col">동의</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td class="title">
                    <a>게</a>
                  </td>
                  <td class="name">2219하수민</td>
                  <td class="agree">123</td>
                  </tr>
                  <tr height="1" style="background-color:#e5e5e5;"><td colspan="3"></td></tr>
              </tbody>
            </table>
        </div>
    </body>
</html>