<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./stylesheets/mainStyle.css"/>
        <title>밥먹다</title>
    </head>

    <body>
        <div class="top">
              <span id="suggestion">급식 건의</span><br>
              <span id="monthly">이달의 급식</span>
            <div id="logo"> 
                <div class="bigFont">밥
                    <a class="smallFont">은</a>
                  </div>
                  <div class="bigFont">먹
                    <a class="smallFont">고</a>
                  </div>
                  <div class="bigFont">다
                    <a class="smallFont">니냐</a>
            </div>
        </div>
    </body>
</html>